*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
background-color: #fff;
color: #555;
font-family:'Lato','Arial',sans-serif;
font-size:20px;
font-weight:300;
text-rendering: optimizeLegibility;
}

/*----------*/
/*Link*/
/*----------*/
a:link,
a:visited{
padding: 8px 0px;
color: #2980b9;
text-decoration:none;
transition: border-bottom 0.02s;
}

/*----------*/
/*HEADER*/
/*----------*/

header{
background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/bg.webp);
background-size:cover;
background-position:center;
height: 100vh;
background-attachment: fixed;
}

.casual-text-box{
position:absolute;
width:1140px;
top:50%;
left:50%;
transform:translate(-50%, -50%);
}

.logo{
height:220px;
width:auto;
float:left;
}

/*----------*/
/*main-nav*/
/*----------*/

.main-nav{
float:right;
list-style:none;
margin-top: 55px;
}

.main-nav li{
display: inline-block;
margin-left:40px;
}

.main-nav li a:link,
.main-nav li a:visited{
padding: 8px 0px;
color: #fff;
text-decoration:none;
text-transform: uppercase;
font-size:90%;
border-bottom: 2px solid transparent;
transition: border-bottom 0.02s;
}

.main-nav li a:hover,
.main-nav li a:active{
border-bottom: 2px solid #2980b9;
}


/*---------*/
/*BUTTON*/
/*---------*/

.btn:link,
.btn:visited{
display: inline-block;
padding: 10px 30px;
font-weight: 300;
text-decoration: none;
border-radius: 200px;
transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited{
background-color: #34495e;
border: 1px solid #34495e;
color: #fff;
margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
border: 1px solid #2980b9;
color: #2980b9;
}

.btn:hover,
.btn:active{
background-color: #0d293c;
}

.btn-full:hover,
.btn-full:active{
border: 1px solid #0d293c;
}

.btn-ghost:hover,
.btn-ghost:active{
border: 1px solid #0d293c;
color: #fff;
}




/*----------*/
/*HEADINGS*/
/*----------*/

h1,
h2,
h3{
font-weight: 300;
text-transform: uppercase;
}

h1{
margin-top:0;
margin-bottom: 20px;
color: #fff;
font-size: 200%;
word-spacing: 4px;
letter-spacing: 1px;
}

h2{
font-size: 170%;
word-spacing: 2px;
text-align: center;
margin-bottom: 30px;
letter-spacing: 1px;
}

h3{
font-size: 110%;
margin-bottom: 15px;
color:#2980b9;
font-weight: 400;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #2980b9;
  content:" ";
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
}

h4{
font-size: 140%;
margin-bottom: 16px;
color:#2980b9;
font-weight: 400;
}

/*----------*/
/*EXTRA*/
/*----------*/

.try{
background-color: #fcfdfd;
padding: 0.5% 0;
}

.row{
max-width: 1000px;
margin:0 auto;
}

section{
padding: 30px 0;
}

/*----------*/
/*PARA*/
/*----------*/

.long{
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 40px;
}

.short{
font-size: 95%;
line-height: 145%;
}

/*----------*/
/*footer*/
/*----------*/


footer{
background-color: #222;
padding:40px;
font-size: 80%;
}

.footer-nav{
list-style: none;
float: left;
}

.social-links{
list-style: none;
float: right;
margin-top: -3%;
}

.footer-nav li,
.social-links li{
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li: last-child,
.social-links li:last-child{
margin-right:0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
text-decoration:none;
border:0;
transition: solor 0.2s;
color: #888;
}

.footer-nav li a:hover,
.footer-nav li a:active{
color: #ddd;
}

.social-links li a:link,
.social-links li a:visited{
 font-size: 160%;
}

.ion-social-facebook,
.ion-social-youtube,
.ion-social-instagram,
.ion-social-twitter{
transition: color 0.2s;
}

.ion-social-facebook:hover{
color: #3b5998;
}

.ion-social-twitter:hover{
color: #00aced;
}

.ion-social-instagram:hover{
color: #cd486b;
}

.ion-social-youtube:hover{
color: #dd4b39;
}

footer p{
color: #888;
text-align: center;
margin-top: 20px;
}


/*----------*/
/*cities*/
/*----------*/

.boxx{
padding: 1%;
}

.boxx img{
width:100%;
height:100%;
margin-bottom:20px;
}

.city{
margin-bottom: 5px;
}
